.container{
    background-color: white;
    /* 9f9f9f */
    padding-top: 40px;
    padding-bottom:20px;
}
.container ul{
    padding-left: 16px;
    padding-right: 16px;
}
.container ul li{
    list-style-type: none;

}