.content{
    width: 96%;
	height: 220px;
	background-color: #ffffff;
	box-shadow: 0px 0px 18px 0px 
		rgba(0, 0, 0, 0.13);
	border-radius: 10px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    align-content: space-between;
    margin-bottom: 15px;
}
.content_left{
    width: 40%;
    border-right:1px solid rgb(186,186,186);
}
.content_left .one{
    font-size: 22px;
}
.content_left .two{
    color: rgb(200,200,200);
    float: left;
    margin-top: 145px;
}
.content_left .three{
   font-size: 13px;
    float: right;
    margin-top: 145px;
    margin-right: 17px;
    color: rgb(186,186,186);
    opacity: 0.6;
}
.content_right{
    /* display: flex; */
    padding-top: 29px;
    padding-bottom: 39px;
    flex-wrap: wrap;
    width: 56%;
}
.content_right ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around;

}
.content_right li{
    width: 20%;
	height: 45px;
	background-color: #00cca8;
	border-radius: 4px;
    font-size: 22px;
    line-height: 45px;
    color:white;
    margin-right: 40px;
    text-align: center;
    margin-bottom: 60px;
}