.searchbar {
    height: 63px;
    width: 100%;
    margin-top: 54px;
    /* box-shadow: 0px 1px 16px 0px 
        rgba(0, 0, 0, 0.13); */
    display: flex;
    justify-content: space-between;

}
.searchbar form{
    /* margin-top: 60px; */
    width: 70%;
	height: 40px;
	background-color: #ebf1f3;
    border-radius: 10px;
    margin-left: 32px;
}
.searchbar button{
    float: left;
    border: none;
    width: 40px;
    height: 40px;
    /* content: "../images/fangfa.png"; */
    /* margin-right:; */
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 0px;
}
.searchbar button img{
    margin-top: 7px;
    width: 25px;
    height: 25px;
    float: left;
}
.searchbar input[type="text"]{
    
    padding-left: 0px;
    margin: 5px auto;
    background-color:#ebf1f3;
    border: none;
    font-family: SourceHanSansCN-Regular;
    font-size: 14px;
    text-align: start;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: black;
    width: 75%;
    height: 32px;
    float: left;
    line-height: 32px;
}
.searchbar a{
    text-decoration: none;
    width: 76px;
    height: 34px;
    line-height: 34px;
	font-family: SourceHanSansCN-Regular;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #00cca8;
   margin-right: 5%;
}
/* 设置热门搜索 */
.hotsearch{
    height: 300px;
    width: 90%;
    background-color: #ffffff;
	box-shadow: 0px 1px 16px 0px 
        rgba(0, 0, 0, 0.13);
    padding-top: 42px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 34px;
}
.hotsearch p{
    font-family: SourceHanSansCN-Regular;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
    color: #353535;
    margin-top: 0px;
    margin-bottom: 15px;
}
.hotsearch ul{
    padding-left: 0px;
    margin:0px auto;
    width: 78%;
	height: 152px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: start;
    justify-items: flex-start;
}
.hotsearch ul li{
   margin-right:  13%;
    list-style-type: none;
    height: 40px;
    line-height: 40px;
	background-color: #f2f2f2;
    border-radius: 8px;
    font-family: SourceHanSansCN-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: -1px;
    color: #353535;
    padding-left: 15px;
    padding-right: 15px;
}
/* 设置搜索历史 */
.searchhistory{
    padding: 6px 32px;

}
.searchhistory p{
    width: 149px;
	height: 34px;
	font-family: SourceHanSansCN-Regular;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #353535;
}
.searchhistory ul li{
    height: 67px;
    list-style-type: none;
    font-family: SourceHanSansCN-Regular;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: -1px;
    color: #888888;
    margin-top: 39px;
    /* line-height: 67px; */
    border-bottom: 1px solid rgb(248,248,248);
}
.searchhistory ul li img{
    width: 30px;
    height: 30px;
    margin-top: 0px;
}
.searchhistory ul li button{
    background-color: #fff;
    border: none;
    float: right;
    margin-top: 0px;
}
.searchhistory ul li button:hover{
    border: none;
}