body {
    font: 30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;字体平滑，删掉貌似无影响*/
    font-weight: 300;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
}

.header {
    margin-top: 50px;
    margin-bottom:50px;
    width: 100%;/*为啥去掉这个会左对齐？*/
    font-size: 100px;
    font-weight: 100;/*设置文本粗细*/
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    /*-webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;浏览器在绘制文本时将着重考虑易读性，而不是渲染速度和几何精度.它会使字间距和连字有效。
    text-rendering: optimizeLegibility;*/
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.div{
    background-color: white;
    box-shadow: inset 0px -2px 1px rgba(0,0,0,0.03);/*阴影怎么没用？*/
    box-shadow: outset 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    margin:1px 0px;
    width: 100%;/*填满父元素*/
}

.onceClear{
    border: none;
    outline:none;
    background-color: rgba(0,0,0,0);
    color:rgb(221, 221, 221);

}

.input {
    border: none;
    outline: none;/*和border不同，outline是轮廓线*/
    width: 100%;
    font-size: 24px;
    font-family: inherit;/*inherit哪的？？*/
    font-weight: inherit;
    line-height: 2em;
    color:inherit;/*会更改输入进去的颜色*/
    margin-left: 20px;
}

input::-webkit-input-placeholder { /* WebKit browsers */ 
    color: rgb(221, 221, 221); 
    font-style: italic;
} 
/*input {
    /*-webkit-writing-mode: horizontal-tb !important;*/
    /*-webkit-appearance: textfield;*/
    /*-webkit-rtl-ordering: logical;这几个是干啥的？？？？？？？*/
    /*box-shadow: inset 0px -2px 1px rgba(0,0,0,0.03);
    box-shadow: outset 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: crosshair;/*设置鼠标光标格式*/
   /* margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
}*/



#list0 {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.list11 {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
    padding: 5px 15px;
    margin:1px 0px;
    word-break: break-all;/*换行规则，去掉则无法换行*/
    width: 100%;
}

.list1 {
    order:1;
    box-sizing: border-box;/*神奇！可以解决padding改变宽度的问题！！怎么理解？？*/
    margin-left:20px;
    font: 25px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:rgba(22, 22, 22, 0.692);
    line-height: 2em;
    word-break: break-all;/*换行规则，去掉则无法换行*/
    background-color: white;
    width: 100%;/*填满父元素*/
    /*justify-content: space-between;关键，不设置这两行删除号就一直在左侧*/
} 

.delete {
    text-align: end;/*为什么没用？*/
    color: rgba(173, 48, 48, 0.747);
    text-decoration: none;
    margin-right:5px;
    align-self:flex-end;
    order:2;
}

.delete:hover {/*当鼠标指针放上去时*/
    color: rgb(173, 48, 48);
}

.clickoff{
    order: 0;
    color: rgba(173, 48, 48, 0.747);
    text-decoration: none;
}

.clickon{
    order: 0;
    color: rgb(201, 201, 201);
}

.info {
    margin: 65px auto 0;
    color: #bfbfbf;
    font-size: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1;
}