*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    /* color: #666666; */
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
#top,#header,#nav,#banner,#star,#accessory,#world,#serve,#after_sale,#footer
{
    height: 100px;
    width: 100%;
    /* border: 1px solid #000000; */
}
.container{
    width: 1280px;
    /* border: 1px solid red; */
    margin: 0px auto;
}
/* 设置顶部样式 */
#top
{
    height: 5px;
    background-color: #00925F;
}
/* 页面头部样式 */
#header{
    height: 30px;
    background-color: #2D2D2D;
}
#header .xlwb{
    width: 20px;
	height: 17px;
	background: url("../img/icons.png") no-repeat -47px -95px;
}
#header .txwb{
	width: 20px;
	height: 20px;
	background: url("../img/icons.png") no-repeat -27px -92px;
}
#header .tel{
    color: #17925F;
}
#header li a{
    color: #b2b2b2;
    border-right: 1px solid #b2b2b2;
    padding:0px 15px;
}
#header .header_left div{
    float: left;
    margin: 5px 10px 0px;
}
#header  ul li{
    float: left;
    font-size: 14px;
    line-height: 30px;
}
#header ul li a:hover{
    color: #00925F;
}
/* 页面导航设置 */
#nav{
    height: 90px;
    background-color:rgb(155,156,151);

}
#nav .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}
#nav ul{
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-start;

}
#nav ul li{
    line-height: 90px;
}
#nav li a{
    color: #666666;
    margin: 0px 20px;
    font-weight: bold;
}
#nav li a:hover{
    color: #00925F;
    margin: 0px 20px;
    font-weight: bold;
}
/* 明星机型展示 */
#star
{
    height: 650px;
    background-color: #f2f2f2;

}
#star .container{
    height: 650px;
}
#star .star_top{
    text-align: center;
    margin: 10px;
}
#star li{
    width: 250px;
    border-bottom:4px solid #dfdfdf;
    transition: all 0.3 ease-in-oute;
}
#star li:hover{
    width: 250px;
    border-bottom:4px solid #4fb59d;
    transform: translateY(-20px);
}
#star li img{
    width: 250px;
}
#star li h2{
    text-align: center;
    margin-top: 10px;
}
#star li p{
    text-align: center;
    margin: 20px 0px;
}
#star li span{
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	background: url("../img/icons-1.png") no-repeat -177px -1014px;
}
#star ul{
    display: flex;
    justify-content: space-around;
}
/* 精选部分设置 */
#accessory{
	height: 950px;
	background-color: #F6F6F6;
	overflow: hidden;
}

#accessory .acc_top{
	text-align: center;
	margin: 20px 0px;
}

#accessory .acc_main{
	width: 1090px;
	margin: 10px auto;
}
#accessory .acc_left{
	width: 540px;
	height: 950px;
	/*border: 2px solid #000;*/
}
#accessory .acc_left>div{
	float: left;
	border-bottom: 3px solid #EAEAEA;
	margin: 10px;
	transition: all .3s;
}
#accessory .acc_left>div:hover{
	border-bottom: 3px solid #00925F;
	transform: translateY(-10px);
}
#accessory .acc_left img{
	width: 250px;
}
#accessory .acc_left>div:last-child img{
	width: 520px;
}
#accessory .acc_all{
	width: 250px;
	height: 250px;
	border: 3px solid #EAEAEA;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
}
#accessory .acc_all p:first-child{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
#accessory .acc_all li{
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
#accessory .acc_all li:hover{
	color: #00925F;
}
#accessory .acc_all .line{
	width: 150px;
	height: 0;
	border-top: 1px solid #ccc;
	clear: both;
	margin: 15px auto;
}
#accessory .acc_all p:last-child{
	text-align: center;
}
#accessory .acc_all p:last-child:hover{
	color: #00925F;
}
#accessory .acc_all span{
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	background: url("../img/icons-1.png") no-repeat -177px -1014px;
	margin-left: 10px;
}
#accessory .acc_right{
	width: 540px;
}
#accessory .acc_right div{
	float: left;
	margin: 10px;
	border-bottom: 3px solid #EAEAEA;
	transition: all .3s;
}
#accessory .acc_right div:hover{
	border-bottom: 3px solid #00925F;
	transform: translateY(-10px);
}
#accessory .acc_right img{
	width: 250px;
}
#accessory .acc_right div:first-child img{
	width: 520px;
	height: 250px;
}
#accessory .acc_right div:last-child img{
	height: 241px;
}
/* 页面搜索部分 */
#world{
	height: 700px;
	/*clear: both;*/
	overflow: hidden;
	background-color: #EAEAEA;
}
#world .world_top{

	text-align: center;
	margin: 20px 0px;
}
#world .world_main{
	width: 1214px;
	margin: 10px auto;
}
#world .world_left{
	width: 800px;
}
#world .world_left>div{
	float: left;
	margin: 10px;
	
}
#world .world_left>div>div{
	border-bottom: 3px solid #EAEAEA;
	transition: all .3s;
}
#world .world_left>div:hover div{
	border-bottom: 3px solid #00925F;
	transform: translateY(-10px);
}
#world .world_right{
	width: 400px;
	height: 566px;
	background-color: #fff;
	margin-top: 10px;
}
#world .world_right img{
	height: 100px;
}
#world .world_right .world_title{
	height: 60px;
}
#world .world_right .world_title div{
	width: 200px;
	height: 60px;
	background-color: #EAEAEA;
	text-align: center;
	line-height: 60px;
	float: left;
	border-top: 3px solid #EAEAEA;
}
#world .world_right .world_title div:first-child{
	border-top: 3px solid #00925F;
	background-color: #fff;
}
#world .world_right  ul li{
	background-color: #EAEAEA;
	margin: 20px 10px;
}
#world .world_right dl{
	width: 380px;
	height: 100px;
	position: relative;
	box-sizing: border-box;
}
#world .world_right dl dt{
	position: absolute;
	top: 0px;
	left: 0px;
}
#world .world_right dl dd{
	position: absolute;
	top: 20px;
	left: 140px;
}
/* 页面服务设置 */
#serve
{
    height: 100px;
    background-color: #fff;
}
#serve .container ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid #666;
}
#serve dl{
    width: 200px;
    height: 100px;
    /* border: 1px solid black; */
    position: relative;
}
#serve dt{
    width: 41px;
    height: 41px;
    background: url("../img/icons.png") no-repeat 0px -44px;
    position: absolute;
    top: 30px;
    left: 10px;
}
#serve dl .d1
{
    position: absolute;
    top: 30px;
    left: 60px;
    font-weight: bold;
}
#serve dl .d2
{
    position: absolute;
    top: 50px;
    left: 60px;
    color: #aaa;
    font-size: 12px;
}
#serve li
{
    transition: all 0.2s;
}
#serve li:hover
{
    transform: translateY(-10px);
}
/* 设置售后服务 */
#after_sale
{
    height: 200px;
    background-color: white;
}
#after_sale ul
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
#after_sale ul li{
    width: 140px;
    text-align: center;
}
#after_sale ol li
{
    line-height: 30px;
}
#after_sale ol li:first-child a
{
    font-weight: bold;
}
#after_sale .xl
{
    
    width: 20px;
    height: 17px;
    background: url("../img/icons.png") no-repeat -47px -95px;
    display: inline-block;
    vertical-align: middle;
}
#after_sale .xl:hover
{
    width: 20px;
    height: 17px;
    background: url("../img/xl2.png") no-repeat;
}
/* 页面底部设置 */
#footer{
	height: 40px;
	background-color: #2D2D2D;
}
#footer p{
	line-height: 40px;
}
#footer img{
	margin-left: 20px;
}
#footer p span{
	color: #828282;
	margin: 0px 530px 0px 20px;
}
#footer p a{
	color: #fff;
	margin: 0px 10px;
}
#footer p a:hover{
	color: #00925F;
}