
.full{
    width: 100%;

    border: 1px solid white;
    height:40px ;
    /* margin-bottom: 20px; */
    border-radius: 6px;
    background: transparent;
}

a{
   display: block;
    color: #000;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align-last: left;
}
.nofull{
    background: transparent;
    border: 1px solid white;
    /* margin-right: 10px; */
}