html {
  background-color: rgb(245, 245, 245);
}

input {
  outline-style: none;
}

header {
  color: rgb(234, 215, 215);
  font-size: 100px;
  text-align: center;
}

#todo {
  /* background-color: aqua; */
  /* height: 80px; */
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.todo_input {
  display: flex;
}

.todo_input_alldelete {
  width: 55px;
  height: 55px;
  /* background-color: turquoise; */
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
  cursor: pointer;
}

.todo_input_alldelete img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 28%;
  left: 28%;
}

.todo_input input {
  padding: 0;
  width: 100%;
  height: 55px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-left: none;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

td {
  text-align: left;
  width: 55px;
  font-size: 24px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  word-break: break-all;
}

.btn {
  width: 30px;
  height: 30px;
  margin: 0 12.5px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.btn.checked {
  background: url(img/checked.png) no-repeat;
  background-size: contain;
}

.todo_value {
  padding: 15px 0;
  width: 420px;
  height: auto;
  border: none;
  border-bottom: 1px solid #ccc;
}

.todo_delete {
  background-color: #fff;
  width: 20px;
  cursor: pointer;
  border-right: 1px solid #c9c9c9;
  border-left: none;
}

.todo_delete::after {
  content: "\2715";
  font-size: 18px;
}

.todo_value.completed {
  color: #c9c9c9;
  text-decoration-line: line-through;
}

.tab {
  height: 30px;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  border: 1px solid #ccc;
  /* border-top: none; */
}

.tab_items,
.tab_all,
.tab_active,
.tab_completed {
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: rgb(119, 119, 119);
  border: 1px solid rgba(239, 213, 213, 0);
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.tab_all:hover,
.tab_active:hover,
.tab_completed:hover {
  border: 1px solid rgba(239, 213, 213, 0.5);
}

.selected {
  border: 1px solid rgb(239, 213, 213);
}

.tab_items {
  cursor: default;
}

.hidden {
  display: none;
}
