*{
	margin: 0;
	padding: 0;
}
body { 
	font-family:"微软雅黑"; 
	font-size:14px; 
}

#container {
	margin:0 auto; 
	width:905px; 
	background-color: #a9a9a9;
}

#header { 
	height:100px;
	background-color: white;
	margin-bottom:5px;
}

/* #nav{ 
	height:30px;
	background:#09c; 
	margin-bottom:5px;
} */

#main{ 
	height:600px;
	/*background:#cff; */
	margin-bottom:5px;
	text-align: center;
}
.aside{
	float:left; 
	width:200px; 
	height:600px; 
	background:#9a9a9a;
	border-right:5px solid  #9a9a9a;
}
/* #aside1 { 

} */
#aside2 { 
	margin-left:5px;
	display:flex;
	align-content: space-around;
	flex-wrap: wrap;
}
#one{
	height: 150px;
	width:200px;
}
#two
{
	height: 50px;
	width:200px;
}
#three
{
	height: 150px;
	width:200px;
}
#four
{
	height: 240px;
	width:200px;
}
.bianlan
{
	background-color: white;
}
#content{ 
	float:left; 
	margin-left:5px;
	width:690px; 
	height:600px; 
	background:white;
}
.question
{
	height: 145px;
	border-bottom: 5px solid #a9a9a9;

}
/* #footer { 
	height:60px; 
	background:#6cf;
} */